<h1>Interview Information</h1>
<b>Program Name:</b><br>
  <%= @entry.name %><br></br>
<b>Program Specialty:</b><br>
  <%= @entry.field %><br></br>
<b>Experience:</b><br>
  <%= @entry.content %><br></br>

<form action="/entries/<%= @entry.id %>/delete" method="POST">
<input type="hidden" name="_method" value="DELETE">
<input type="submit" value="Delete Entry">
</form>

<p><a href="/entries/<%= @entry.id %>/edit">Edit Submission</a><br>
<a href="/applicants/show"><%= current_applicant.username %>'s Page</a><br>
<a href="/entries">View Other Applicants' Experiences</a><br>
<a href="/logout">Logout</a>
</p>
