<h1>Your Interviews</h1>
<p><h3>Program Name:</h3><br></br>
  <%= @entry.name %></p>
<p><h3>Program Field:</h3>
  <%= @entry.field %></p>
<p><h3>Experience:</h3>
  <%= @entry.content %></p>

<form action="/entries/<%= @entry.id %>/delete" method="POST">
<input type="hidden" name="_method" value="DELETE">
<input type="submit" value="Delete Entry">
</form>

<p><a href="/entries/<%= @entry.id %>/edit">Edit Info</a></p>
<p><a href="/logout">Logout</a></p>
